openapi: 3.1.0
info:
  title: Fulcrum Rev API
  version: 0.2.0
  description: Public backend contract for settings, leads, usage, billing, webhooks, and cron entrypoints.
servers:
  - url: https://revops.fulcrumcollective.io
    description: Production
  - url: http://localhost:3000
    description: Local development
paths:
  /api/leads:
    get:
      tags: [Leads]
      summary: List tenant leads
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: crmPushState
          schema:
            type: string
        - in: query
          name: grade
          schema:
            type: string
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: dateFrom
          schema:
            type: string
            format: date-time
        - in: query
          name: dateTo
          schema:
            type: string
            format: date-time
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Paginated lead list
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  pageSize:
                    type: integer
                  total:
                    type: integer
                  totalPages:
                    type: integer
                  filters:
                    type: object
                  leads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/leads/actions:
    post:
      tags: [Leads]
      summary: Run a bulk lead queue or approval action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    action:
                      type: string
                      enum: [bulk_approve_by_grade]
                    grades:
                      type: array
                      items:
                        type: string
                  required: [action, grades]
                - type: object
                  properties:
                    action:
                      type: string
                      enum: [retry_failed_crm_pushes]
                  required: [action]
      responses:
        '200':
          description: Bulk lead action completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  action:
                    type: string
                  totalMatched:
                    type: integer
                  approved:
                    type: integer
                  failedPreflight:
                    type: integer
                  queued:
                    type: integer
                  stillFailed:
                    type: integer
                  errors:
                    oneOf:
                      - type: array
                        items:
                          type: string
                      - type: array
                        items:
                          $ref: '#/components/schemas/BulkErrorSummary'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/leads/{id}:
    patch:
      tags: [Leads]
      summary: Approve or reject a single lead
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [approved, rejected]
                rejectionReason:
                  type: string
                rejectReason:
                  type: string
              required: [status]
      responses:
        '200':
          description: Lead state updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  lead:
                    $ref: '#/components/schemas/LeadActionSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/leads/{id}/actions:
    post:
      tags: [Leads]
      summary: Retry a failed CRM push for a single lead
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [retry_crm_push]
              required: [action]
      responses:
        '200':
          description: Lead CRM retry queued or failed preflight
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  lead:
                    $ref: '#/components/schemas/LeadActionSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/leads/{id}/crm-push-events:
    get:
      tags: [Leads]
      summary: Get recent CRM push events for one tenant lead
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 20
      responses:
        '200':
          description: Recent lead CRM activity
          content:
            application/json:
              schema:
                type: object
                properties:
                  leadId:
                    type: string
                    format: uuid
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/CrmPushEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/crm/push-events:
    get:
      tags: [CRM]
      summary: List tenant CRM push events
      parameters:
        - in: query
          name: leadId
          schema:
            type: string
            format: uuid
        - in: query
          name: outcome
          schema:
            type: string
            enum: [created, matched_existing, duplicate_detected, auth_failed, validation_failed, transient_failed, other]
        - in: query
          name: errorCode
          schema:
            type: string
        - in: query
          name: window
          schema:
            type: string
            enum: [24h, 7d, 30d]
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: Paginated tenant CRM activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmPushEventFeed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/crm/push-events/summary:
    get:
      tags: [CRM]
      summary: Get tenant CRM push event summary
      parameters:
        - in: query
          name: window
          schema:
            type: string
            enum: [24h, 7d, 30d]
      responses:
        '200':
          description: Tenant CRM activity summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmPushEventSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/usage/summary:
    get:
      tags: [Usage]
      summary: Get usage and ROI summary
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/usage/history:
    get:
      tags: [Usage]
      summary: Get tenant activity history
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Audit history
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/settings/search-queries:
    get:
      tags: [Settings]
      summary: Get tenant search queries
      responses:
        '200':
          description: Search query list
          content:
            application/json:
              schema:
                type: object
                properties:
                  queries:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchQuery'
    put:
      tags: [Settings]
      summary: Replace tenant search queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                queries:
                  type: array
                  items:
                    $ref: '#/components/schemas/SearchQueryInput'
      responses:
        '200':
          description: Search queries replaced
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/settings/intent-keywords:
    get:
      tags: [Settings]
      summary: Get tenant intent keywords
      responses:
        '200':
          description: Intent keyword list
          content:
            application/json:
              schema:
                type: object
                properties:
                  keywords:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntentKeyword'
    put:
      tags: [Settings]
      summary: Replace tenant intent keywords
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keywords:
                  type: array
                  items:
                    $ref: '#/components/schemas/IntentKeywordInput'
      responses:
        '200':
          description: Intent keywords replaced
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/settings/scoring:
    get:
      tags: [Settings]
      summary: Get tenant scoring config
      responses:
        '200':
          description: Scoring config
          content:
            application/json:
              schema:
                type: object
                properties:
                  scoringConfig:
                    $ref: '#/components/schemas/ScoringConfig'
    put:
      tags: [Settings]
      summary: Upsert tenant scoring config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scoringConfig:
                  $ref: '#/components/schemas/ScoringConfig'
      responses:
        '200':
          description: Scoring config saved
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/settings/crm:
    get:
      tags: [Settings]
      summary: Get tenant CRM settings
      responses:
        '200':
          description: CRM configuration metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  crm:
                    $ref: '#/components/schemas/CrmSettings'
    put:
      tags: [Settings]
      summary: Save tenant CRM settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                crmType:
                  type: string
                  enum: [zoho, hubspot, salesforce]
                crmConfig:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '200':
          description: CRM settings saved
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/settings/crm/actions:
    post:
      tags: [Settings]
      summary: Pause or unpause tenant CRM push processing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    action:
                      type: string
                      enum: [pause_crm_push]
                    reason:
                      type: string
                  required: [action]
                - type: object
                  properties:
                    action:
                      type: string
                      enum: [unpause_crm_push]
                  required: [action]
      responses:
        '200':
          description: CRM push state updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmSettingsActionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/settings/slack:
    get:
      tags: [Settings]
      summary: Get tenant Slack settings
      responses:
        '200':
          description: Slack configuration metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  slack:
                    $ref: '#/components/schemas/SlackSettings'
    put:
      tags: [Settings]
      summary: Save tenant Slack settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                slack:
                  type: object
                  properties:
                    teamId:
                      type: string
                    channelId:
                      type: string
                    botToken:
                      type: string
      responses:
        '200':
          description: Slack settings saved
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/settings/api-keys:
    get:
      tags: [Settings]
      summary: Get tenant BYO key status
      responses:
        '200':
          description: Provider key metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeysSettings'
    put:
      tags: [Settings]
      summary: Save tenant BYO keys and provider preference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                primaryLeadProvider:
                  type: string
                  enum: [instantly, apify]
                instantly:
                  type: object
                  properties:
                    apiKey:
                      type: string
                    workspaceId:
                      type: string
                apifyApiToken:
                  type: string
                  nullable: true
                anthropicApiKey:
                  type: string
                  nullable: true
                perplexityApiKey:
                  type: string
                  nullable: true
                clear:
                  type: array
                  items:
                    type: string
                    enum: [instantly, apify, anthropic, perplexity]
      responses:
        '200':
          description: Provider keys saved
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/billing/summary:
    get:
      tags: [Billing]
      summary: Get billing and credit summary
      responses:
        '200':
          description: Billing summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  billing:
                    $ref: '#/components/schemas/BillingSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/billing/history:
    get:
      tags: [Billing]
      summary: Get current-period provider usage history
      parameters:
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: provider
          schema:
            type: string
        - in: query
          name: stage
          schema:
            type: string
        - in: query
          name: billableOnly
          schema:
            type: boolean
      responses:
        '200':
          description: Billing history
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  pageSize:
                    type: integer
                  total:
                    type: integer
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillingHistoryEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/billing/checkout:
    post:
      tags: [Billing]
      summary: Create Stripe Checkout session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                planSlug:
                  type: string
                  enum: [starter, growth, scale]
      responses:
        '200':
          description: Checkout session URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/billing/portal:
    post:
      tags: [Billing]
      summary: Create Stripe Billing Portal session
      responses:
        '200':
          description: Billing portal URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No Stripe customer for this tenant
  /api/webhooks/stripe:
    post:
      tags: [Webhooks]
      summary: Receive Stripe webhook events
      responses:
        '200':
          description: Webhook received
        '400':
          description: Invalid signature or payload
  /api/cron/pipeline:
    post:
      tags: [Cron]
      summary: Run the primary pipeline
      responses:
        '200':
          description: Job result
  /api/cron/roi-sync:
    post:
      tags: [Cron]
      summary: Sync CRM deal values into ROI attribution
      responses:
        '200':
          description: Job result
  /api/cron/hitl-recalibrate:
    post:
      tags: [Cron]
      summary: Run HITL recalibration
      responses:
        '200':
          description: Job result
  /api/cron/cold-start-check:
    post:
      tags: [Cron]
      summary: Evaluate cold-start windows
      responses:
        '200':
          description: Job result
  /api/cron/email-digest:
    post:
      tags: [Cron]
      summary: Send email digest
      responses:
        '200':
          description: Job result
  /api/cron/diagnostics:
    post:
      tags: [Cron]
      summary: Run deal diagnostics
      responses:
        '200':
          description: Job result
  /api/cron/icm:
    post:
      tags: [Cron]
      summary: Run ICM reconciliation
      responses:
        '200':
          description: Job result
  /api/cron/health:
    post:
      tags: [Cron]
      summary: Run tenant health checks
      responses:
        '200':
          description: Job result
  /api/cron/weekly-digest:
    post:
      tags: [Cron]
      summary: Send weekly Slack digest
      responses:
        '200':
          description: Job result
  /api/cron/seo:
    post:
      tags: [Cron]
      summary: Run SEO audits
      responses:
        '200':
          description: Job result
  /api/cron/cro:
    post:
      tags: [Cron]
      summary: Run CRO audits
      responses:
        '200':
          description: Job result
  /api/cron/content-allocation:
    post:
      tags: [Cron]
      summary: Allocate content slots
      responses:
        '200':
          description: Job result
  /api/cron/content-roi:
    post:
      tags: [Cron]
      summary: Compute content ROI summaries
      responses:
        '200':
          description: Job result
  /api/cron/persona-deployment:
    post:
      tags: [Cron]
      summary: Deploy queued persona snippets
      responses:
        '200':
          description: Job result
  /api/cron/billing-sync:
    post:
      tags: [Cron]
      summary: Roll manual billing periods and issue monthly grants
      responses:
        '200':
          description: Job result
components:
  responses:
    Unauthorized:
      description: Missing or invalid tenant auth context
    BadRequest:
      description: Invalid request body or query parameters
  schemas:
    Lead:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fullName:
          type: string
        title:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        linkedinUrl:
          type: string
        fulcrumScore:
          type: number
        fulcrumGrade:
          type: string
          nullable: true
        fitScore:
          type: number
        intentScore:
          type: number
        status:
          type: string
        crmPushState:
          type: string
        crmPushAttempts:
          type: integer
        crmPushLastError:
          type: string
          nullable: true
        approvedAt:
          type: string
          format: date-time
          nullable: true
        approvedBy:
          type: string
          nullable: true
        pushedToCrmAt:
          type: string
          format: date-time
          nullable: true
        crmLeadId:
          type: string
          nullable: true
        discoveredAt:
          type: string
          format: date-time
    LeadActionSnapshot:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        crmPushState:
          type: string
        crmPushLastError:
          type: string
          nullable: true
        approvedAt:
          type: string
          format: date-time
          nullable: true
        approvedBy:
          type: string
          nullable: true
        crmLeadId:
          type: string
          nullable: true
    BulkErrorSummary:
      type: object
      properties:
        message:
          type: string
        count:
          type: integer
    CrmPushEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        leadId:
          type: string
          format: uuid
        leadName:
          type: string
        company:
          type: string
          nullable: true
        connector:
          type: string
        outcome:
          type: string
          enum: [created, matched_existing, duplicate_detected, auth_failed, validation_failed, transient_failed, other]
        rawOutcome:
          type: string
        crmObjectId:
          type: string
          nullable: true
        attemptNumber:
          type: integer
        errorCode:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        metadata:
          type: object
          properties:
            stage:
              type: string
              enum: [preflight, push]
            rawError:
              type: string
            retry:
              type: integer
            source:
              type: string
              enum: [cron]
            duplicateHint:
              type: string
              nullable: true
    CrmPushEventFeed:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        filters:
          type: object
          properties:
            leadId:
              type: string
              format: uuid
              nullable: true
            outcome:
              type: string
              enum: [created, matched_existing, duplicate_detected, auth_failed, validation_failed, transient_failed, other]
              nullable: true
            errorCode:
              type: string
              nullable: true
            window:
              type: string
              enum: [24h, 7d, 30d]
            q:
              type: string
              nullable: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/CrmPushEvent'
    CrmPushEventSummary:
      type: object
      properties:
        window:
          type: string
          enum: [24h, 7d, 30d]
        totals:
          type: object
          properties:
            created:
              type: integer
            duplicates:
              type: integer
            authFailed:
              type: integer
            validationFailed:
              type: integer
            transientFailed:
              type: integer
            matchedExisting:
              type: integer
            other:
              type: integer
        duplicateRate:
          type: string
        oldestFailedMinutes:
          type: integer
          nullable: true
        topDuplicateLeads:
          type: array
          items:
            type: object
            properties:
              leadId:
                type: string
                format: uuid
              leadName:
                type: string
              company:
                type: string
                nullable: true
              duplicateCount:
                type: integer
        recentDuplicates:
          type: array
          items:
            $ref: '#/components/schemas/CrmPushEvent'
    SearchQuery:
      allOf:
        - $ref: '#/components/schemas/SearchQueryInput'
        - type: object
          properties:
            id:
              type: string
              format: uuid
    SearchQueryInput:
      type: object
      properties:
        queryName:
          type: string
        searchQuery:
          type: object
          properties:
            keywords:
              type: string
            industry:
              type: string
            companySize:
              type: string
            additionalKeywords:
              type: string
        maxResults:
          type: integer
        isActive:
          type: boolean
    IntentKeyword:
      allOf:
        - $ref: '#/components/schemas/IntentKeywordInput'
        - type: object
          properties:
            id:
              type: string
              format: uuid
    IntentKeywordInput:
      type: object
      properties:
        keyword:
          type: string
        intentScore:
          type: number
        category:
          type: string
        isActive:
          type: boolean
    ScoringConfig:
      type: object
      properties:
        company_size:
          type: array
          items:
            type: object
            properties:
              min:
                type: number
              max:
                type: number
              points:
                type: number
        industry_fit:
          type: array
          items:
            type: object
            properties:
              match:
                type: string
              points:
                type: number
        role_authority:
          type: array
          items:
            type: object
            properties:
              pattern:
                type: string
              points:
                type: number
        revenue_signals:
          type: array
          items:
            type: object
            properties:
              signal:
                type: string
              points:
                type: number
    CrmSettings:
      type: object
      properties:
        crmType:
          type: string
          nullable: true
        connected:
          type: boolean
        maskedConfig:
          type: object
          additionalProperties:
            type: string
        hasTenantConfig:
          type: boolean
        lastPushAt:
          type: string
          format: date-time
          nullable: true
        customViewUrl:
          type: string
          nullable: true
        crmPushPaused:
          type: boolean
        crmPushPauseReason:
          type: string
          nullable: true
        crmPushPausedAt:
          type: string
          format: date-time
          nullable: true
    CrmSettingsActionResponse:
      type: object
      properties:
        success:
          type: boolean
        paused:
          type: boolean
        pauseReason:
          type: string
          nullable: true
        pausedAt:
          type: string
          format: date-time
          nullable: true
        message:
          type: string
    SlackSettings:
      type: object
      properties:
        connected:
          type: boolean
        teamId:
          type: string
          nullable: true
        channelId:
          type: string
          nullable: true
        installedAt:
          type: string
          format: date-time
          nullable: true
        hasBotToken:
          type: boolean
    ApiKeysSettings:
      type: object
      properties:
        primaryLeadProvider:
          type: string
          enum: [instantly, apify]
        providers:
          type: object
          properties:
            instantly:
              type: object
              properties:
                usingTenantKey:
                  type: boolean
                workspaceId:
                  type: string
                  nullable: true
                hasPlatformFallback:
                  type: boolean
            apify:
              type: object
              properties:
                usingTenantKey:
                  type: boolean
                hasPlatformFallback:
                  type: boolean
            anthropic:
              type: object
              properties:
                usingTenantKey:
                  type: boolean
                hasPlatformFallback:
                  type: boolean
            perplexity:
              type: object
              properties:
                usingTenantKey:
                  type: boolean
                hasPlatformFallback:
                  type: boolean
    BillingSummary:
      type: object
      properties:
        planSlug:
          type: string
          nullable: true
        billingSource:
          type: string
        subscriptionStatus:
          type: string
        currentPeriodStart:
          type: string
          format: date-time
          nullable: true
        currentPeriodEnd:
          type: string
          format: date-time
          nullable: true
        includedCredits:
          type: string
        creditUnitUsd:
          type: string
        targetMarkupMultiplier:
          type: string
        usedCredits:
          type: string
        remainingCredits:
          type: string
        providerCostUsd:
          type: string
        projectedBillableUsd:
          type: string
        providerBreakdown:
          type: array
          items:
            type: object
            properties:
              provider:
                type: string
              stage:
                type: string
              credits:
                type: string
              providerCostUsd:
                type: string
              projectedBillableUsd:
                type: string
              requestCount:
                type: integer
              billable:
                type: boolean
        unpricedActivity:
          type: array
          items:
            type: object
            properties:
              provider:
                type: string
              stage:
                type: string
              activityCount:
                type: integer
              reason:
                type: string
    BillingHistoryEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        provider:
          type: string
        stage:
          type: string
        credits:
          type: string
        providerCostUsd:
          type: string
        projectedBillableUsd:
          type: string
        leadId:
          type: string
          format: uuid
          nullable: true
        leadName:
          type: string
          nullable: true
        tenantOwnedCredentialUsed:
          type: boolean
        billable:
          type: boolean
        usage:
          type: object
          properties:
            inputTokens:
              type: integer
            outputTokens:
              type: integer
            requestCount:
              type: integer
            searchQueries:
              type: integer
              nullable: true
